  <title>siteKick</title>
  <link rel="stylesheet" href= "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag :bootstrap_overwriting %>
  <%= csrf_meta_tag %>


  <%= render 'layouts/navbar' %>

  <div class="container">

    <div class="hero-unit">
      <div class="text-hero-unit">
        
        <p class='welcome_message'>
        Kick up your site's search<br> results with siteKick!</p>
        
       
        <div class="push">
        </div>
      </div>
    </div>

    <div class="row"><center>
      <div class="col-md-6">

        <div class='well'><p class='glyphicon glyphicon-cloud-download' style='font-size:32px'></p><br><p class='big-text'>siteKick grabs your Tumblr blog.</p></div>
        <div class='well'><p class='glyphicon glyphicon-check' style='font-size:32px'></p><br><p class='big-text'>Suggests improvements.</p></div>

        
      </div>

      <div class="col-md-6">
        <div class='well'><p class='glyphicon glyphicon-search' style='font-size:32px'></p><br><p class='big-text'>Analyzes its web searchability.</p></div>
        <div class='well'><p class='glyphicon glyphicon-eye-open' style='font-size:32px'></p><br><p class='big-text'>Gets you more views.</p></div>
      </div></center>

    </div>

<footer>
  <center>© siteKick 2013</center>
</footer>


















