<html>
  <head>
    <title>SiteKick</title>
    <link rel="stylesheet" href= "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag :bootstrap_overwriting %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <a class="logo" href="#">siteKick</a>
          
        </div>
      </div>
    </div>




    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="text-hero-unit">
          <h4>Put a little kick in your site with our optimization tools.</h4><br>
          <p><%= button_to "Start now by signing in with Tumblr!", "/auth/tumblr", class: "btn-primary" %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="col-md-6">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
      
      </div>

      <hr>

      <footer>
       <center> <p>© SiteKick 2013</p></center>
      </footer>

    </div>

  </body>
</html>