  <title>siteKick</title>
  <link rel="stylesheet" href= "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag :bootstrap_overwriting %>
  <%= csrf_meta_tag %>


  <%= render 'layouts/navbar' %>

  <div class="container">

    <div class="hero-unit">
      <div class="text-hero-unit">
        
        <p class='welcome_message'>
        Put a little kick in your site with<br> our optimization tools.</p>
        
       
        <div class="push">
        </div>
      </div>
    </div>

    <div class="row"><center>
      <div class="col-md-6">

        <div class='well'><p class='glyphicon glyphicon-edit' style='font-size:32px'></p><br>We take your Tumblr.</div>
        <div class='well'><p class='glyphicon glyphicon-search' style='font-size:32px'></p><br>Analyze its search-engine searchability.</div>

        
      </div>

      <div class="col-md-6">
        <div class='well'><p class='glyphicon glyphicon-send' style='font-size:32px'></p><br>Give you feedback on how to optimize your code and content.</div>
        <div class='well'><p class='glyphicon glyphicon-eye-open' style='font-size:32px'></p><br>Get more views.</div>
      </div></center>

    </div>

<footer>
  <center>© SiteKick 2013</center>
</footer>


















