<% @test_percent = (@test.number_of_tests_passed*100)/@test.number_of_tests_evaluated %>
<% if @test_percent < 50 %>
  <% my_class = "progress-bar-danger" %>
<% elsif @test_percent < 80 %>
  <% my_class = "progress-bar-warning" %> 
<% else %>
  <% my_class = "progress-bar-success" %>
<% end %>

<div class="progress progress-striped active"><div class="progress-bar <%= my_class %>"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= @test_percent %>%"></div></div>