<div class = "navbar navbar-fixed-top">
  <div class = "navbar-inner">
      <a class = "btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </a>
      <a class= "brand" href="#"> FEEDBACK WILL GO HERE </a>
      <div class= "nav-collapse">
        <ul class= "nav">
          <li>Here GOES TITLE</li>
          <li>Here GOES FEEDBACK</li>
        </ul>
      </div>
    </div>
</div>

<h1><%= @page.original_url %></h1>
<p>
  <%= @page.content.html_safe %>
</p>

