<div class = "navbar navbar-fix">
  <div class = "navbar-inner-box">
      <a class= "brand" href="#">Your url is: <%= @page.original_url %> </a><br>
        <button class="show_button">Hide Feedback</button>
        <ul class= "nav">
          <div id = "togglediv">
          <li><h1>Our FEEDBACK WILL GO HERE:</h1></li><br>
          <li>Title: <%= @page.title.html_safe  %></li>
          <li> H1's:  <%= @page.h1.html_safe  %></li>
        </div>
        </ul>
      </div>
    </div>
</div>


<p>
  <%= @page.content.html_safe %>
</p>

