

.feedback {
  padding: 20px;
  border-top: 25px;
  border-color: #ccc;
  color: #fff;
  background-color: #252322;
  box-shadow: 8px 8px 5px #1c1c1c;
  border-radius: 20px;
  font-family: "Trebuchet MS";
  float: left;
  width: 45%;
  height: 768px;
  position: absolute;
  margin-left: 1%;
  margin-top: 20px;
  overflow:scroll;
}

.article_content {
  padding: 20px;
  color: #463D37;
  margin-left: 10px;
  background-color: #F1E9E3;
  box-shadow: 8px 8px 5px #888888;
  border-radius: 20px;
  font-family: "Trebuchet MS";
  float: right;
  width:45%;
  height: 768px;
  margin-left: 50%;
  position: absolute;
  overflow:scroll;
}

.hidden {
  display: none;
}

.article_content img {
  width: 150px;
  height: auto;
  float: left;
  margin-right: 10px;
}

